@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Pacifico');

/*EMAILER MAIN*/

.back-img{
    background-image: url("images/Congrats.png");
    background-size: 80%;
    background-position: cover;
    background-repeat: no-repeat;
}

.pad{
    padding: 0 5em;
}

.congrats{
    max-width: 100%;
}

.btn-text{
    color: #2c3e50;
    font-weight: 800;
    font-size: 1.4rem;
}


/*EMAILER PG2*/

/*Jumbotron*/
.logo-s{
    border-radius: 50.1%;
    max-width: 30%;
    margin-left: 50em;
    margin-top: -13em;
}

.text-des{
    font-size: 2rem;
}

.text-order{
    font-size: 4rem;
}

.now-price{
    margin-top: 20%;
    font-size:7rem;
}

.smb-size{
    max-height: 20%;
}

.now-price-c{
    margin-top: 20%;
    font-size:5.5rem;
}

.month{
    font-size: 3rem;
    color: orangered;
}